/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	overflow-x: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


:root {
	--primary-color: #2a2929;
	--secondary-color: #e8b28a;
	--white-color: #fff;
	--negrita: 600;
	--size-0: 0.61rem;
	--size-1: 1rem;
	--size-2: 1.6rem;
	--size-3: 2.59rem;
	--size-4: 4.1rem;
	--size-5: 6.64rem;
	--size-6: 10.7rem;
}



/* Colores */
html {
	color: var(--white-color);
	background-color: var(--primary-color);
}

h1 {
	color: var(--secondary-color);
}

footer svg path {
	fill: var(--secondary-color);
}

small {
	color: var(--secondary-color);
}

/* FUENTES */
html {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
}

body {
	font-family: sans-serif, arial, helvetica;
	line-height: 1.7;
}

main {
	font-size: var(--size-1);
}

h1 {
	font-size: var(--size-3);
	font-weight: var(--negrita);
}

h2,
h3 {
	font-size: var(--size-2);
}

dt {
	font-weight: var(--negrita);
}

small {
	font-size: var(--size-0);
}

.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}

/* Menu */
.menu a {
	text-decoration: none;
}

/* Spacing/Sizing */
.muchoPadding {
	padding-top: var(--size-6);
	padding-right: var(--size-4);
	padding-bottom: var(--size-4);
	padding-left: var(--size-4);
}

.p-4 {
	padding: var(--size-4);
}

.p-5 {
	padding: var(--size-5);
}

.pr-4 {
	padding-right: var(--size-4);
}

.pb-3 {
	padding-bottom: var(--size-3);
}

.pb-4 {
	padding-bottom: var(--size-4);
}

.pt-4 {
	padding-top: var(--size-4);
}

blockquote {
	font-style: italic;
	color: var(--secondary-color);
	font-size: var(--size-2);
	text-align: center;
}

small {
	margin-bottom: var(--size-2);
}

section {
	min-height: 25vh;
}

footer {
	padding: var(--size-4);
	text-align: center;
}

blockquote {
	padding-bottom: var(--size-4);
}

footer svg {
	width: var(--size-4);
}

.full-height {
	min-height: 100vh;
}

.mid-height {
	min-height: 50vh;
}

h3,
dd,
p,
dt {
	padding-bottom: var(--size-2);
}

dd {
	padding-left: var(--size-2);
}

p,
dd,
small {
	max-width: 800px;
}

p,
small {
	margin-left: auto;
	margin-right: auto;
}


/* GRID */

section {
	display: grid;
	place-items: center;
	/* align-content: center;
	justify-content: center; */
}

.siteheader {
	padding: var(--size-2);
}

.siteheader svg {
	width: var(--size-4);
}

.siteheader svg circle {
	stroke: var(--secondary-color);
	stroke-width: 1.5px;
	fill: none;
}
@media screen and (max-width: 900px) {
	.siteheader svg circle {
		stroke-width: 1px;
	}
}

.siteheader {
	position: fixed;
	z-index: 1;
}

/* Helpers */
.rounded {
	border-radius: 50%;
}

hr {
	width: 3vw;
}

.centered {
	text-align: center;
}

section.cover {
	background-image: url("../images/bg4.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

section.franja {
	color: var(--primary-color);
	background-color: var(--secondary-color);
}

img.logo {
	min-width: auto;
	width: var(--size-4);
	height: var(--size-4);
	margin: var(--size-2);
}